/*Home page*/
.home_index{
    text-decoration: none;
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 16pt;
    color:white;
}
.home_webname{
    position: absolute;
    left: 40px;
    top: 30px;
    font-size: 16pt;
    color: white;
}
.flex-container {
    display: flex; 
    width: 100%;
    height: 100%;
}
.the-large-glass {
    flex: 1; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: rgba(255, 0, 102, 1); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s; 
}
.the-barbarians {
    flex: 1; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: rgba(0, 4, 255, 1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s; 
}
.potato {
    flex: 1; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: rgba(243, 195, 11, 1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s; 
}
.the-eternally-obvious {
    flex: 1; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: rgba(32, 4, 4, 1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s; 
}
.minotaure {
    flex: 1; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: rgba(255, 51, 0, 1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s; 
}
.the-satin-tuning-fork {
    flex: 1; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: rgba(47, 47, 47, 1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s; 
}
.la-revolution-surrealiste {
    flex: 1; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: rgba(255, 0, 43, 1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s; 
}
.the-accommodation-of-desire {
    text-decoration: none;
    flex: 1; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    color:white;
    background-color: rgba(160, 65, 255, 1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s; 
}


.the-large-glass:hover {
    background-color:rgba(0, 19, 142, 1);
}
.the-barbarians:hover {
    background-color:rgba(0, 19, 142, 1);
}
.potato:hover {
    background-color:rgba(0, 19, 142, 1);
}
.the-eternally-obvious:hover {
    background-color:rgba(0, 19, 142, 1);
}
.minotaure:hover {
    background-color:rgba(0, 19, 142, 1);
}
.the-satin-tuning-fork:hover {
        background-color:rgba(0, 19, 142, 1);
}
.la-revolution-surrealiste:hover {
    background-color:rgba(0, 19, 142, 1);
}
.the-accommodation-of-desire:hover {
    background-color:rgba(0, 19, 142, 1);
}
/* Minotaure */
.minotaure_index{
    text-decoration: none;
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 16pt;
    color:white;
}
.minotaure_webname{
    position: absolute;
    left: 40px;
    font-size: 16pt;
    color: white;
}
.card_minotaure_title{
    position: absolute;
    top: 100px;
    font-size: 26rem;
    -webkit-text-stroke-width: -1%;
    display: inline-block;
    transform: rotate(90deg);
    text-align: left;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 17rem;
    letter-spacing: -10px;
}
.card_minotaure_name{
    position: absolute;
    top: 1260px;
    left: 750px;
    font-size: 25pt;
    color:white;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
}

.card_minotaure_year{
    position: absolute;
    top: 784px;
    left: 515px;
    font-family: "Bacasime Antique", serif;
    font-weight: 200;
    font-style: normal;
    font-size: 28px;
    color:white
}
    

.minotaure_des{
    position: relative;
    top: 800px;
    color:white;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    column-count: 2;
    column-gap: 20px;
}

/* The Satin Tuning Fork*/
.satin_index{
    text-decoration: none;
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 16pt;
    color:white;
}
.satin_webname{
    position: absolute;
    left: 40px;
    font-size: 16pt;
    color: white;
}
.card_satin_title1{
    position: absolute;
    top: 190px;
    left: 40px;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70pt;
    color: white;
    }
.card_satin_title2{
    position: absolute;
    top: 280px;
    left: 40px;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70pt;
    color: rgba(0, 22, 223, 1);
    }
.card_satin_title3{
    position: absolute;
    top: 400px;
    right: 40px;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70pt;
    color: white;
}
.card_satin_title4{
    position: absolute;
    top: 1000px;
    left: 40px;
    font-size: 42pt;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}
.card_satin_title5{
    position: absolute;
    top: 1000px;
    left: 330px;
    font-size: 42pt;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}
.card_satin_title6{
    position: absolute;
    top: 1000px;
    left: 700px;
    font-size: 42pt;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}
.card_satin_title7{
    position: absolute;
    top: 1000px;
    right: 40px;
    font-size: 42pt;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}
.card_satin_name{
    position: absolute;
    top: 1500px;
    left: 40px;
    font-size: 40pt;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    color: rgba(0, 22, 223, 1);
}
.card_satin_year{
    position: absolute;
    top: 1550px;
    left: 40px;
    font-size: 40pt;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    color: rgba(0, 22, 223, 1);
}
.satin_des{
    position: relative;
    top: 1000px;
    color:white;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    column-count: 2;
    column-gap: 20px;
}

/*LA RÉVOLUTION SURRÉALISTE*/
.la_index{
    text-decoration: none;
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 16pt;
    color:black;
}
.la_webname{
    position: absolute;
    top:20px;
    left: 40px;
    font-size: 16pt;
}
.big_letter{
    margin-top:-2px;
    position: absolute;
    left: -400px;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1950pt;
}

.card_la_title{
    position: absolute;
    top: 600px;
    left: 100px;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 55pt;
}
.card_la_name{
    -webkit-text-stroke-width: -1%;
    display: inline-block;
    transform: rotate(90deg);
    position: absolute;
    top: 1500px;
    left: 750px;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50pt;
}
.card_la_year{
    position: absolute;
    top: 810px;
    left: 950px;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50pt;
}
.la_des{
    position: relative;
    top: 1050px;
    color:white;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    column-count: 2;
    column-gap: 20px;
}

/*The Eternally Obvious*/
.obvious_index{
    text-decoration: none;
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 16pt;
    color:rgba(212, 140, 140, 1);
}
.obvious_webname{
    position: absolute;
    top:20px;
    left: 40px;
    font-size: 16pt;
    color:rgba(212, 140, 140, 1);
}
.big_left_obvious100{
    position: absolute;
    top: 500px;
    left:-52rem;
    font-size: 300pt;
    -webkit-text-stroke-width: -1%;
    display: inline-block;
    transform: rotate(90deg);
    text-align: left;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 17rem;
    letter-spacing: -10px;
    color:rgba(149, 27, 27, 1);
    opacity: 0.3;
}
.big_left_obvious100{
    position: absolute;
    top: 500px;
    left:-52rem;
    font-size: 300pt;
    -webkit-text-stroke-width: -1%;
    display: inline-block;
    transform: rotate(90deg);
    text-align: left;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 17rem;
    letter-spacing: -10px;
    opacity: 0.3;
}
.big_left_obvious70{
    position: absolute;
    top: 500px;
    left:-34rem;
    font-size: 250pt;
    -webkit-text-stroke-width: -1%;
    display: inline-block;
    transform: rotate(90deg);
    text-align: center;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 17rem;
    letter-spacing: -10px;
    color:rgba(197, 74, 74, 1);
    opacity: 0.3;
}
.big_left_obvious40{
    position: absolute;
    top: 500px;
    left:-18rem;
    font-size: 200pt;
    -webkit-text-stroke-width: -1%;
    display: inline-block;
    transform: rotate(90deg);
    text-align: center;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 17rem;
    letter-spacing: -10px;
    color:rgba(205, 102, 102, 1);
    opacity: 0.3;
}
.big_left_obvious10{
    position: absolute;
    top: 500px;
    left:-3rem;
    font-size: 150pt;
    -webkit-text-stroke-width: -1%;
    display: inline-block;
    transform: rotate(90deg);
    text-align: center;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 17rem;
    letter-spacing: -10px;
    color:rgba(212, 140, 140, 1);
    opacity: 0.3;
}

.big_left_obvious100{
    position: absolute;
    top: 500px;
    left:-52rem;
    font-size: 300pt;
    -webkit-text-stroke-width: -1%;
    display: inline-block;
    transform: rotate(90deg);
    text-align: center;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 17rem;
    letter-spacing: -10px;
    color:rgba(149, 27, 27, 1);
    opacity: 0.3;
}
.big_right_obvious100{
    position: absolute;
    top: 500px;
    right:-52rem;
    font-size: 300pt;
    -webkit-text-stroke-width: -1%;
    display: inline-block;
    transform: rotate(-90deg);
    text-align: center;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 17rem;
    letter-spacing: -10px;
    color:rgba(149, 27, 27, 1);
    opacity: 0.3;
}
.big_right_obvious70{
    position: absolute;
    top: 500px;
    right:-34rem;
    font-size: 250pt;
    -webkit-text-stroke-width: -1%;
    display: inline-block;
    transform: rotate(-90deg);
    text-align: center;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 17rem;
    letter-spacing: -10px;
    color:rgba(197, 74, 74, 1);
    opacity: 0.3;
}
.big_right_obvious40{
    position: absolute;
    top: 500px;
    right:-18rem;
    font-size: 200pt;
    -webkit-text-stroke-width: -1%;
    display: inline-block;
    transform: rotate(-90deg);
    text-align: center;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 17rem;
    letter-spacing: -10px;
    color:rgba(205, 102, 102, 1);
    opacity: 0.3;
}
.big_right_obvious10{
    position: absolute;
    top: 500px;
    right:-3rem;
    font-size: 150pt;
    -webkit-text-stroke-width: -1%;
    display: inline-block;
    transform: rotate(-90deg);
    text-align: center;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 17rem;
    letter-spacing: -10px;
    color:rgba(212, 140, 140, 1);
    opacity: 0.3;
}
.card_obvious_title{
    position: absolute;
    top: 800px;
    left: 508px;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50pt;
    text-align: center;
    line-height:4rem;
    letter-spacing:3pt;
    color:rgb(255, 198, 198);
}
.card_obvious_name{
    position: absolute;
    top: 1046px;
    left: 590px;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35pt;
    text-align: center;
    color:rgb(255, 198, 198);
}
.card_obvious_year{
    position: absolute;
    top: 1100px;
    left: 668px;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35pt;
    text-align: center;
    color:rgb(255, 198, 198);
}
.obvious_des {
    display: flex;
    justify-content: space-between;
    gap: 100px; 
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15pt;
    margin-top: 70rem;
    margin-left: 20px;
    margin-right: 20px;
    align-items: stretch;
    color:rgb(255, 198, 198);
}

.column {
    padding: 10px; 
    box-sizing: border-box;
}

.column.obvious-1 {
    flex: 2; 
}

.column.obvious-2 {
    flex: 1;
}

/* Potato */
.potato_index{
    text-decoration: none;
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 16pt;
    color:rgba(29, 95, 212, 1);
}
.potato_webname{
    position: absolute;
    top:20px;
    left: 40px;
    font-size: 16pt;
    color:rgba(222, 72, 36, 1);
}
.po{
    position: absolute;
    top: 400px;
    left: 40px;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 110pt;
    color:rgba(222, 72, 36, 1);
}
.ta{
    position: absolute;
    top: 700px;
    left: 610px;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 110pt;
    color:rgba(0, 172, 112, 1);
}
.to{
    position: absolute;
    top: 1000px;
    right: 40px;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 110pt;
    color:rgba(29, 95, 212, 1);
}
.card_potato_name{
    position: absolute;
    top: 200px;
    left:625px;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30pt;
    color:rgba(29, 95, 212, 1);
}
.card_potato_year{
    position: absolute;
    top: 1200px;
    left:655px;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30pt;
    color:rgba(222, 72, 36, 1);
}
.potato_des {
    display: flex;
    justify-content: space-between;
    gap: 100px; 
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15pt;
    margin-top: 50rem;
    margin-left: 20px;
    margin-right: 20px;
    align-items: stretch;
    color: rgba(222, 72, 36, 1); 
}

.column {
    padding: 10px; 
    box-sizing: border-box;
}

.column.potato-1 {
    color: rgba(29, 95, 212, 1);
    flex: 2; 
}

.column.potato-2 {
    flex: 1;
}

/*The Accommodation Of Desire*/
.desire_index{
    text-decoration: none;
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 16pt;
    color:rgba(27, 0, 135, 1);
}
.desire_webname{
    position: absolute;
    top:20px;
    left: 40px;
    font-size: 16pt;
    color:rgba(27, 0, 135, 1);
}
.card_desire_name{
    position: absolute;
    top: 269px;
    left: 40px;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30pt;
    text-align:left;
    color:rgba(27, 0, 135, 1);
}
.the{
    position: absolute;
    top: 350px;
    left: 36px;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 150pt;
    text-align:left;
    color:rgba(27, 0, 135, 1);
}
.a1{
    position: absolute;
    top: 655px;
    left: 40px;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70pt;
    text-align:left;
    color:white;
}
.c1{
    position: absolute;
    top: 655px;
    left: 187px;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70pt;
    text-align:center;
    color:white;
}
.c2{
    position: absolute;
    top: 970px;
    left: 329px;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70pt;
    text-align:center;
    color:white;
}
.o1{
    position: absolute;
    top: 970px;
    left: 619px;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70pt;
    text-align:center;
    color:white;
}
.m1{
    position: absolute;
    top: 970px;
    left: 999px;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70pt;
    text-align:center;
    color:white;
}
.m2{
    position: absolute;
    top: 1285px;
    left: 760px;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70pt;
    text-align:center;
    color:white;
}
.o2{
    position: absolute;
    top: 1285px;
    right: 40px;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70pt;
    text-align:center;
    color:white;
}
.d{
    position: absolute;
    top: 1600px;
    left: 40px;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70pt;
    text-align:left;
    color:white;
}
.a2{
    position: absolute;
    top: 1600px;
    left: 329px;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70pt;
    text-align:center;
    color:white;
}
.t{
    position: absolute;
    top: 1915px;
    left: 619px;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70pt;
    text-align:center;
    color:white;
}
.i{
    position: absolute;
    top: 1915px;
    left: 999px;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70pt;
    text-align:center;
    color:white;
}
.o3{
    position: absolute;
    top: 2230px;
    left: 40px;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70pt;
    text-align:left;
    color:white;
}
.n{
    position: absolute;
    top: 2230px;
    left:329px;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70pt;
    text-align:center;
    color:white;
}
.s{
    position: absolute;
    top: 2230px;
    right:40px;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70pt;
    text-align:center;
    color:white;
}
.of{
    position: absolute;
    top: 2535px;
    right: 40px;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 150pt;
    text-align:left;
    color:rgba(27, 0, 135, 1);
}
.desire{
    position: absolute;
    top: 2835px;
    left: 40px;
    letter-spacing: 11.6rem;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 90pt;
    text-align:center;
    color:rgba(0, 34, 255, 1);
}
.card_desire_year{
    position: absolute;
    top: 2990px;
    right: 40px;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30pt;
    text-align:left;
    color:rgba(27, 0, 135, 1);
}
.desire_des{
    display:flex;
    justify-content: space-between;
    gap: 100px;
    color:rgba(27, 0, 135, 1); 
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15pt;
    margin-top:104rem;
    margin-left: 20px;
    margin-right: 20px;
    align-items: stretch;

}
.column {
    padding: 10px; 
    box-sizing: border-box;
    width:fit-content;
}
.column desire-1{
    flex: 2; 
    padding: 10px; 
}
.column desire-2{
    flex: 1;
    box-sizing: border-box;
    width: 200px;
}
/*Barbarians*/
.barbarians_index{
    text-decoration: none;
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 16pt;
    color:black;
}
.barbarians_webname{
    position: absolute;
    top:20px;
    left: 40px;
    font-size: 16pt;
    color:black;
}
.The{
    position: absolute;
    top: 500px;
    left: 605px;
    font-size: 60pt;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    text-align:center;
    color: rgb(0, 0, 0); 
}
.barbarians100{
    position: absolute;
    top: 810px;
    left: 40px;
    font-size: 160pt;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    text-align:center;
    color: rgb(0, 0, 0);   
}
.barbarians40{
    position: absolute;
    top: 770px;
    left: 40px;
    font-size: 160pt;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    text-align:center;
    color: rgb(0, 0, 0);  
    opacity: 40%; 
}
.barbarians30{
    position: absolute;
    top: 730px;
    left: 40px;
    font-size: 160pt;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    text-align:center;
    color: rgb(0, 0, 0);  
    opacity: 25%; 
}
.barbarians10{
    position: absolute;
    top: 690px;
    left: 40px;
    font-size: 160pt;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    text-align:center;
    color: rgb(0, 0, 0);  
    opacity: 10%; 
}
.barbarians5{
    position: absolute;
    top: 640px;
    left: 40px;
    font-size: 160pt;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    text-align:center;
    color: rgb(0, 0, 0);  
    opacity: 5%; 
}
.card_barbarians_name{
    position: absolute;
    top: 1100px;
    left: 609px;
    font-size: 30pt;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    text-align:center;
    color: rgb(0, 0, 0);  
}
.card_barbarians_year{
    position: absolute;
    top: 1170px;
    left: 650px;
    font-size: 30pt;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    text-align:center;
    color: rgb(0, 0, 0);  

}
.barbarians_des{
    display:flex;
    justify-content: space-between;
    gap: 100px;
    color: rgba(44, 0, 115, 1);   
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15pt;
    margin-top:45rem;
    margin-left: 20px;
    margin-right: 20px;
    align-items: stretch;

}
.column {
    padding: 10px; 
    box-sizing: border-box;
    width:fit-content;
}
.column barbarians-1{
    flex: 2; 
    padding: 10px; 
}
.column barbarians-2{
    flex: 1;
    box-sizing: border-box;
    width: 200px;
}
 

/*The Large Glass*/
.glass_index{
    text-decoration: none;
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 16pt;
    color: rgba(44, 0, 115, 1);  
}
.glass_webname{
    position: absolute;
    top:20px;
    left: 40px;
    font-size: 16pt;
    color: rgba(44, 0, 115, 1);  
}
.the_glass{
    position: absolute;
    top: 500px;
    left: 20px;
    font-size: 120pt;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    text-align:center;
    color: rgb(255, 255, 255); 
}
.big_L100{
    position: absolute;
    top: 300px;
    left: -200px;
    font-size: 1500pt;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    text-align:center;
    color: rgba(44, 0, 115, 1);    
}
.big_L30{
    position: absolute;
    top: 300px;
    left: -120px;
    font-size: 1500pt;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    text-align:center;
    color: rgba(44, 0, 115, 1);
    opacity: 30%; 
}
.big_L20{
    position: absolute;
    top: 300px;
    left: -48px;
    font-size: 1500pt;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    text-align:center;
    color: rgba(44, 0, 115, 1);   
    opacity: 20%; 
}
.big_L10{
    position: absolute;
    top: 300px;
    left: 30px;
    font-size: 1500pt;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    text-align:center;
    color: rgba(44, 0, 115, 1);  
    opacity: 10%; 
}
.arge{
    position: absolute;
    top: 1200px;
    left: 730px;
    font-size: 190pt;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    text-align:center;
    color: rgba(44, 0, 115, 1);   
}
.card_glass_name{
    position: absolute;
    top: 1300px;
    left: 177px;
    font-size: 30pt;
    -webkit-text-stroke-width: -1%;
    display: inline-block;
    transform: rotate(90deg);
    text-align: left;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 17rem;
    color:white;
}
.card_glass_year{
    position: absolute;
    top: 900px;
    left: 349px;
    font-size: 30pt;
    -webkit-text-stroke-width: -1%;
    display: inline-block;
    transform: rotate(90deg);
    text-align: left;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 17rem;
    color:white;
}
.glass{
    position: absolute;
    top: 1520px;
    left: 900px;
    font-size: 70pt;
    -webkit-text-stroke-width: -1%;
    display: inline-block;
    transform: rotate(90deg);
    text-align: left;
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 17rem;
    color:white;
}
.glass_des{
    display:flex;
    justify-content: space-between;
    gap: 100px;
    color: rgba(44, 0, 115, 1);   
    font-family: "Bacasime Antique", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15pt;
    margin-top:60rem;
    margin-left: 20px;
    margin-right: 20px;
    align-items: stretch;
    text-align: left;
}
.column {
    padding: 10px; 
    box-sizing: border-box;
    width:fit-content;
}
.column glass-1{
    flex: 2; 
    padding: 10px; 
}
.column glass-2{
    flex: 1;
    box-sizing: border-box;
    width: 200px;
}
 